<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
    <style>
        table {
            border: 4px double #333; /* Рамка вокруг таблицы */
            border-collapse: separate; /* Способ отображения границы */
            width: 30%; /* Ширина таблицы */
            border-spacing: 7px 11px; /* Расстояние между ячейками */
        }
        td {
            padding: 5px; /* Поля вокруг текста */
            border: 1px solid #a52a2a; /* Граница вокруг ячеек */
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Возраст</th>
        <th>Email</th>
    </tr>
    <tr th:each="user: ${users}">
        <td>
            <a th:href="@{/users/show(id=${user.id})}" th:text="${user.id}"></a>
        </td>
        <td>
            <a th:href="@{/users/show(id=${user.id})}" th:text="${user.name}"></a>
        </td>
        <td>
            <a th:href="@{/users/show(id=${user.id})}" th:text="${user.age}"></a>
        </td>
        <td>
            <a th:href="@{/users/show(id=${user.id})}" th:text="${user.email}"></a>
        </td>
    </tr>

</table>
<br>
<br>
<hr/>

<a href="/users/new">Добавить нового пользователя</a>

</body>
</html>